* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}
div#parallelogram {
  background: #00acd7;
  width: 1000px;
  height: 720px;
  max-width: 70vw;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  transform: skew(6deg, 3deg);
  position: absolute;
  z-index: -1;
}

section {
  display: flex;
  background: #fff;
  padding: 30px 5px;
  padding-top: 1px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  max-width: 70vw;
}
section h1 {
  padding: 40px 10px;
  text-align: center;
}
fieldset {
  display: flex;
  border: none;
}
fieldset:nth-child(4) {
  padding-top: 20px;
}

.container {
  position: relative;
}
.container input {
  margin: 10px 10px;
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 10px 0 10px;
}
.container label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #a5a3a3;
  position: absolute;
  line-height: 70px;
  top: 4px;
  left: 20px;
  user-select: none;

  pointer-events: none;
  transition: 0.5s;
}
.container input:focus ~ label,
.container input:valid ~ label {
  left: 20px;
  top: -10px;
  color: #00acd7;
}
#divSeletor {
  margin: auto;
}
section button {
  margin: 5px 10px;
  width: calc(50% - 25px);
  height: 50px;
  background: #00acd7;
  color: #fff;
  border: 0px;
  padding: 10px;
  outline: 0;
  border-radius: 10px;
  font-weight: bold;
}
section button:hover {
  opacity: 0.85;
}
